body {
    /* Very dark cyan */
    background-color: #00494d;
    /* Dark grayish cyan: */
    background-color: #5e7a7d;
    /* Grayish cyan: */
    background-color: #7f9c9f;
    /* Light grayish cyan: */
    background-color: #c5e4e7;
    /* Very light grayish cyan: */
    background-color: #f4fafa;
    /* White */
    background-color: #f1f1f1f1;
    /* Strong cyan: */
    background-color: #26c0ab;
}